# Publicação
publish/

.vs/
bin/
obj/


# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs e temporários
*.log
*.tmp
*.cache

# Binários
*.dll
*.exe
*.pdb

# Testes
TestResults/
*.coverage

# NuGet
packages/